body{
	
	margin: 0 auto;
}

header{
	height: 811px;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.header_menu{
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
	
}

.nav ul{
	display: flex;
	
	

}

.nav li{
	list-style: none;
	
	
	

}

.nav a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase; 
	font-family: Geometria;
	font-size: 12px;
	color: #001A33;
	width: 130px;
	padding: 40px 0;
	text-align: center;
	
	
}



.nav a:hover
{
	
	background-color: #4169C1;
	
	

}

.nav>li>ul{
	display: none;
}

.nav li:hover > ul {
	display: block;
	position: absolute;
	background-color: #00a300;
	/*width: 150px;*/
	white-space: nowrap;
	left: -5 px;

}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo_text{
	line-height: 1px;
}
	

.logo_text>h3{
	font-family: Geometria;
	font-size: 20px;
	color: ##0E0E0E;
	font-weight: 700;
	margin-left: 10px;
}

.logo_text>p{
	font-family: Geometria;
	font-size: 15px;
	color: ##0E0E0E9C;
	font-weight: 300;
	margin-left: 10px;
}

.phone{
	display: flex;
	align-items: center;
}
.phone>p{
	font-family: Geometria;
	font-size: 22px;
	font-weight: 500;
	color: ##0B0B0B;
	padding-left: 10px;
}

.header_section{
	margin: auto;
	height: 578px;
	width: 1600px;
	background-image:url(img/Rectangle.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
}

.header_section_content{
	height: 623px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
}

h1{
	font-family: Geometria;
	font-size: 44px;
	color: #FFFFFF;
	line-height: 55px;
}

h1>strong{
	margin-left: 100px;
}

.header_section_content>p{
	color: #FFFFFF;
	font-family: Geometria;
	font-size: 18px;
	line-height: 28.16px;
}

.forms{
	height: 202px;
	width: 1200px;
	background-color: #F4F8FF;
	border-radius: 5px;
}

.main{
	display: flex;
}

.main_text>h3{
	font-family: Geometria;
	font-size: 35px;
	color: #001A33;
	font-weight: 600;
	margin-bottom: 50px;
}

.main_text>h4{
	font-size: 22px;
	font-weight: ;
	line-height: 33.12px;
	color: #001A33;
	margin-bottom: 50px;
}

.main_text>p{
	font-size: 16px;
	line-height: 25.03px;
	font-weight: 400;
	color: #001A33;

}

.form>p{
	font-family: Geometria;
	font-size: 14px;
	color: #001A33;
}

::placeholder {
	color: #E7ECF3;
	font-size: 14px;
	padding-left: 5px;
}

input{
	border: 0;
	height: 45px;
	width: 230px;
	margin-top: 10px;

}

.button>p{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;
}


/*вторая секция*/

.second-section{
	margin: auto;
	background-color: #F4F8FF;
	height: 744px;
	width: 1600px;
	
}

.second_section_content{
	width: 718px;
	height: 445px;
	background-color: #4169C1;
}

.second_section_content_text{
	display: flex;
	flex-direction: column;
	line-height: 50px;
	margin-left: 50px;
	margin-top: 30px;
}

.second_section_content_text>h3{
	font-family: Geometria;
	font-size: 22px;
	color: #FFFFFF;
}

.second_section_content_text>p{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;


}

.second_section_content_text>h4{
	font-family: Geometria;
	font-size: 18px;
	color: #FFFFFF;
}


.second-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.second_section_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	
} 


.second_section_content_another_text_one{
	display: flex;
	margin-left: 50px;
	margin-bottom: 30px;
	align-items: center;
	gap: 10px;

}

.second_section_content_another_text_one img{
	width: 24px;
	height: 24px;
}

.second_section_content_another_text_two img{
	width: 24px;
	height: 24px;
}

.second_section_content_another_text_one>p>strong{
	margin-right: 50px;
}


.second_section_content_another_text_one>p{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;

}


.second_section_content_another_text_two
{
	display: flex;
	margin-left: 50px;
	align-items: center;
	gap: 10px;
}

.second_section_content_another_text_two>p{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;
}

.second_section_content_another_text_two>p>strong{
	margin-right: 50px;
}

.second_section_content_another_text_three
{
	display: flex;
}

.second_section_content_another_text_three>p{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;
}



.second_section_content_another_text_four>p
{
	font-family: Geometria;
	font-size: 16px;
	color: #FFFFFF;
}

.btn{
	display: inline-block;
	padding: 25px 105px;
	border-radius: 38px;
	background-color: #FD6612;
	border: 0;
	margin-top: 30px;
	margin-left: 50px;
	line-height: 25.16px;
	width: 410px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
}

.btn span {
	font-family: Gemetria;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 700;
	
}

/*третья секция*/

.third_section{
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-around;


}

.third_section_content{
	display: flex;
	margin-top: 50px;

}

.third_section_content_img{
	margin-right: 50px;
	width: 24px;
	height: 24px;
}

.third_section_content_text>p{
	font-family: Geometria;
	font-size: 14px;
	color: #001A33B2;
	line-height: 22px;
}

.third_section_content_text>h2{
	font-family: Geometria;
	font-size: 22px;
	color: #001A33;
	margin-bottom: 10px;
}




/*четвертая секция*/

.section_four{
	margin: 0 auto;
	height: 908px;
	background-color: #F4F8FF;
	width: 1600px;
	display: flex;	
	align-items: center;

}

.section_four_content{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.forms{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}





.section_four_content_side_bar{
	width: 585px;
	height: 588px;
	background-color: #4169C1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.section_four_h2>h2{
	font-family: Geometria;
	font-size: 35px;
	color: #001A33;
	margin-bottom:100px;
}

.section_four_content_side_bar>h2{
	font-family: Geometria;
	font-size: 22px;
	color: #FFFFFF;
	margin-left: 50px;
}

.section_four_content_side_bar>p{
	font-family: Geometria;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 25px;
}

.section_four_content_side_bar_img{
	display: flex;
	justify-content: space-around;
}


footer{
	margin: auto;
	height: 445px;
	width: 1600px;
	background-color: #4169C1;

}

.footer_content{
	display: flex;
	justify-content: space-between;
}

.footer_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 60px;
}




.footer_text>h2{
	font-family: Geometria;
	font-size: 35px;
	color: #FFFFFF;
	font-weight: 500;
}


.footer_phone{
	display: flex;
}

.footer_phone>p{
	font-family: Geometria;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 500;
	margin-right: 50px;
	padding-top: 5px;
}

.footer_phone_number>p{
	font-family: Geometria;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 30px;
}

.footer_email{
	display: flex;
}

.footer_email>p{
	font-size: 18px;
	font-family: Geometria;
	color: #FFFFFF;
	font-weight: 500;
	margin-right: 75px;

}

.email>p{
	font-size: 16px;
	font-family: Geometria;
	color: #FFFFFF;
	font-weight: 400;
}

.footer_adress{
	display: flex;
}

.footer_adress>p{
	font-size: 18px;
	font-family: Geometria;
	color: #FFFFFF;
	font-weight: 500;

}

.adress>p{
	font-size: 14px;
	font-family: Geometria;
	color: #FFFFFF;
	font-weight: 400;
	margin-left: 67px;
}

.footer_site_name>p{
	font-size: 18px;
	font-family: Geometria;
	color: #FFFFFF;
	font-weight: 500;
}



.footer_forms{
	width: 718px;
	height: 445px;
	background-color: #FFFFFF;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.left_forms{
	margin-bottom: 115px;
	line-height: 27px;
}

.left_forms>h2{
	font-family: Georgia;
	font-size: 22px;
	color: #001A33;

}

.form_name>p{
	font-family: Georgia;
	font-size: 14px;
	color: #001A33;

}

.form_phone>p{
	font-family: Georgia;
	font-size: 14px;
	color: #001A33;
}

.form_email>p{
	font-family: Georgia;
	font-size: 14px;
	color: #001A33;
}

.right_form>p{
	font-family: Georgia;
	font-size: 14px;
	color: #001A33;
}

.form_name>input{
	background-color: #E7ECF3;
	border-radius: 5px;
}

.form_phone>input{
	background-color: #E7ECF3;
	border-radius: 5px;
}

.form_email>input{
	background-color: #E7ECF3;
	border-radius: 5px;
}

.right_form>input{
	width: 278px;
	height: 195px;
	background-color: #E7ECF3;
	border-radius: 5px;

}

.

.footer_side_bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.button{
	display: inline-block;
	padding: 15px 80px;
	border-radius: 24px;
	background-color: #FD6612;
	border: 0;
	margin-top: 25px;
}

.footer_bottom{
	margin: auto;
	height: 93px;
	width: 1600px;
	background-color: #001A33;
	display: flex;
	align-items: center;

}


.footer_bottom_text{
	display: flex;
	justify-content: space-between;

}

.footer_bottom_text>h3{
	font-family: Geometria;
	font-size: 14px;
	color: #FFFFFF;
}

.footer_bottom_text>p{
	font-family: Geometria;
	font-size: 14px;
	color: #FFFFFF;
}